@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <p>
        
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/PMh3Yyx_DA8"></iframe>
        </div>
        <div class="col-md-7">
            <h1>Three Girls and A Guy</h1>
            <br/>
            <h4>First things first,<strong>WE LOVE INFORMATION SYSTEMS!</strong></h4>
            <h5>We used to be like you! Students at BYU, and looking for the best major. Then we found Information Systems
            and our lives changed. Because, let's be honest, it's kind of the best. </h5>
            <h5>Once we were in the program, we had tons of questions but there was no place on earth where we could have them answered.
            </h5>
            <h5>So, we built this website, where prospective and current students can ask and answer questions.</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
               <h3>Information Systems: Where Technology and Business Collide</h3> 
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>BYU Information Systems</h2>
            <p>The official BYU Information Systems page can give you all the details you need about upcoming events, 
            when and where to apply, and much more! Check it out!</p>
            <a class="btn btn-default" href="https://marriottschool.byu.edu/bsis/" target="_blank">More Info</a>
        </div>
        <div class="col-md-4">
            <h2>IS Careers</h2>
            <p>What can you do with an IS major? Who are the typical employers? What type of work experience do you need?
            Check out this cool website by clicking "More Info" below!</p>
            <a class="btn btn-default" href="https://www.prospects.ac.uk/careers-advice/what-can-i-do-with-my-degree/information-systems" target="_blank">More Info</a>
        </div>
        <div class="col-md-4">
            <h2>Cool Tech</h2>
            <p>People are awesome. Some of the coolest technology and innovations are occuring right before our eyes!
            check out some of these awesome developments by clicking on "Learn More" below!</p>
            <a class="btn btn-default" href="http://www.digitaltrends.com/cool-tech/" target="_blank">Learn More</a>
        </div>
    </div>
</div>