
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="jumbotron-content">
        <h1>Explore Information Systems</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="bg-dark">
        <h4>Find Out More Below</h4>
        <a class="col-md-2 col-md-offset-3" href='@Url.Action("ChooseDegree", "Degrees")'>
            <btn class="btn btn-default">Degrees</btn>
        </a>
        <a class="col-md-2" href='@Url.Action("About", "Home")'>
            <btn class="btn btn-default">About Us</btn>
        </a>
        <a class="col-md-2" href='@Url.Action("Contact", "Home")'>
            <btn class="btn btn-default">Contact</btn>
        </a>
    </div>
</div>