body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron{
    margin-bottom: 0px;
    background-image: url(../Images/header1.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    position: relative;
}

.jumbotron-content{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.questionForm{
    border: thin;
    border-color: blanchedalmond;
}

#profpanel{
    width: 100%;
}

.panel-heading{
    font-size: large;
}

.navbar{
    background-color: #073164;
}

.navbar-inverse{
    background-color: #073164;
}
.navbar-collapse{
    background-color: #073164;
}

.navbar-fixed-top{
    background-color: #073164;
}